# api key to call Appeeky API. https://docs.appeeky.com/docs/aso-audit
# appeeky, api key just allows 4 calls on free plan. So if you need more shots,
# you will need to get your own api key from https://dashboard.appeeky.com/dashboard
APPEEKY_API_KEY=
NVIDIA_API_KEY=
